.footer {
    width: 100vw;
    background-color: #fff;


    .attribution {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%);
    }

    button {
        position: absolute;
        right: 1rem;
        padding: 7px 25px;
        bottom: 1rem;
        color: lighten($header-outline,20%);
        border-radius: .4rem;
        border: 3px solid $header-outline;
        background: none;
        font-weight: 600;
        letter-spacing: 2px;
    }

    button:hover {
        background-color: rgba(#ffffff, .8);
        color: $dark-text;
        cursor: pointer;
    }
}