

.text {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;

}

.counter {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-color: transparent;
    border: 25px solid;
    background-size: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}

.game {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-wrap: nowrap;

    &__you {
        display: flex;
        flex-direction: column;

        .icon {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border-color: transparent;
            border: 25px solid;
            background-size: 50%;

            &--paper {
                @include icon($imageP,$paper-gradient);
                &-winner{
                    @include bigShadow($paper-gradient)
                }
            }

            &--scissor {
                @include icon($imageS,$scissors-gradient);
                &-winner{
                    @include bigShadow($scissors-gradient)
                }
            }

            &--rock {
                @include icon($imageR,$rock-gradient);
                &-winner{
                    @include bigShadow($rock-gradient)
                }
            }
        }

    }

    &__play {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;

        .play-again {
            padding: 12px 20px;
            font-size: 1.5rem;
            font-weight: 700;
            // text-transform: uppercase;
            text-decoration: none;
            border-color: transparent;
            border: 1px solid;
        }
        &:hover {
            transition: color .2s;
            // background-color: rgb(110, 40, 40);
            color: white;
        }
    }

    &__house {
        display: flex;
        flex-direction: column;

    .text {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
    }

        .icon {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border-color: transparent;
            border: 25px solid;
            background-size: 50%;

            &--paper {
                @include icon($imageP,$paper-gradient);
                &-winner{
                    @include bigShadow($paper-gradient)
                }
            }

            &--scissor {
                @include icon($imageS,$scissors-gradient);
                &-winner{
                    @include bigShadow($scissors-gradient)
                }
            }

            &--rock {
                @include icon($imageR,$rock-gradient);
                &-winner{
                    @include bigShadow($rock-gradient)
                }
            }
        }

    }


}